
{% extends "layout_user.html" %}
{% block body %}       
<div class="login-form">    
    <form action="{{url_for('loginres')}}" method="post">
		<div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
    	<h4 class="modal-title">Log In to Your Account</h4>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" required="required" name="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" required="required" name="password">
        </div>
        <div class="form-group small clearfix">
            <label class="checkbox-inline"><input type="checkbox"> Remember me</label>
            <a href="{{url_for('signup')}}" class="forgot-link">Forgot Password?</a>
        </div> 
        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Log In">              
    </form>			
    <div class="text-center small">Don't have an account? <a href="{{url_for('signup')}}">Sign Up</a></div>
</div>
{% endblock %}